$color1: #00BB59;
$color4: #f41f4f;


$red: #FF3180;
$green: #22E02D;
$vistedBetween: #16BAC5;
$pathFinal:#FF9500; 
$wall:#2c3550;
$unvisitedWall: #2972FF;




.node {
    outline: 1px solid lighten($unvisitedWall, 20%);
    display: inline-block;
    &.start {
        outline: 1px solid #0f0e0e;
        background-color: $green;
    }
    &.finish {
        background-color: $red;
        outline: 1px solid red;
    }
    &.wall {
        outline: 1px solid darken($wall, 50%);
        background-color: $wall;
        animation-name: wallAnimation;
        animation-duration: 0.3s;
        animation-timing-function: ease-out;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }
    &.path {
        outline: 1px solid darken($pathFinal, 10%);
        animation: path 1s;
        animation-timing-function: ease-out;
        background-color: $pathFinal;
    }
    &.visited {
        animation-name: visitedAnimated;
        outline: 1px solid darken($unvisitedWall, 15%);
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-play-state: running;
        &.start {
            animation-name: visitedAnimatedStart;
        }
        &.finish {
            animation-name: visitedAnimatedFinish;
        }
    }
}

// animations
@keyframes wallAnimation {
    0% {
        transform: scale(.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes visitedAnimated {
    0% {
        transform: scale(.3);
        bacgground-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }
    50% {
        background-color: rgba(17, 104, 217, 0.75);
        background-color: adjust-hue($unvisitedWall, $degrees: -20deg);
        border-radius: 100%;
    }
    75% {
        transform: scale(1.2);
        background-color: adjust-hue($unvisitedWall, -50deg);
        border-radius: 100%;
    }
    100% {
        transform: scale(1.0);
        background-color: $unvisitedWall;
    }
}

@keyframes visitedAnimatedStart {
    0% {
        transform: scale(.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 50%;
    }
    50% {
        background-color: rgba(253, 59, 237, 0.75);
    }
    75% {
        transform: scale(1.2);
        background-color: rgba(165, 9, 82, 0.75)
    }
    100% {
        transform: scale(1.0);
        background-color: rgba(140, 19, 221, 0.75);
    }
}

@keyframes visitedAnimatedFinish {
    0% {
        transform: scale(.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 50%;
    }
    50% {
        background-color: rgba(119, 0, 255, 0.75);
    }
    75% {
        transform: scale(1.2);
        background-color: rgba(204, 34, 204, 0.75)
    }
    100% {
        transform: scale(1.0);
        background-color: rgba(218, 0, 145, 0.75);
    }
}

@keyframes path {
    0% {
        transform: scale(1);
        background-color: rgba(2, 2, 2, 0.75);
    }
    50% {
        transform: scale(1.2);
        background-color: adjust-hue($pathFinal, 50deg);
    }
    75% {
        transform: scale(1.1);
        background-color: adjust-hue($pathFinal, 20deg);
    }
    100% {
        transform: scale(1.0);
    }
}