@import '../../../variables.module.scss';

.node {
    outline: 1px solid lighten($unvisitedWall, 20%);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    &.wall {
        outline: 1px solid darken($wall, 50%);
        background-color: $wall;
        animation-name: wallAnimation;
        animation-duration: 0.3s;
    }
    &.visited {
        animation-name: visitedAnimated;
        outline: 1px solid darken($unvisitedWall, 15%);
        &.current {
            animation: none;
            border-radius: 50%;
            background-color: yellow;
        }
        &.instant {
            animation: none;
            background-color: $unvisitedWall;
        }
    }
    &.start {
        outline: none;
        background-image: url('../../../assets/icons/triangletwo-right.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation-name: specialNodes;
        &:active{
            background-color: blue;
        }
    }
    &.finish {
        outline: none;
        background-image: url('../../../assets/icons/circle.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation-name: specialNodes;
    }
    &.visited {
        animation-name: visitedAnimated;
        outline: 1px solid darken($unvisitedWall, 15%);
        &.current {
            animation: none;
            border-radius: 50%;
            background-color: yellow;
        }
    }
    &.path {
        background-color: $pathFinal;
        outline: 1px solid darken($pathFinal, 10%);
        animation-name: path;
        animation-duration: 1.5s;
        animation-timing-function: linear;
    }
    &.left {
        background-image: url('../../../assets/icons/triangletwo-left.svg');
    }
    &.right {
        background-image: url('../../../assets/icons/triangletwo-right.svg');
    }
    &.up {
        background-image: url('../../../assets/icons/triangletwo-up.svg');
    }
    &.down {
        background-image: url('../../../assets/icons/triangletwo-down.svg');
    }
    &.instant {
        animation: none;
    }
}

// animations
@keyframes wallAnimation {
    0% {
        transform: scale(.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes visitedAnimated {
    0% {
        transform: scale(.3);
        border-radius: 100%;
        outline: none;
    }
    50% {
        background-color: adjust-hue($unvisitedWall, $degrees: -20deg);
        border-radius: 100%;
    }
    75% {
        transform: scale(1.2);
        background-color: adjust-hue($unvisitedWall, -50deg);
        border-radius: 100%;
        outline: none;
    }
    100% {
        transform: scale(1.0);
        background-color: $unvisitedWall;
    }
}

@keyframes specialNodes {
    0% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes path {
    0% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}
