@import '../../variables.module.scss';
.container {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 20px 0 0;
    padding-bottom: 1.5%;
    height: fit-content;
    
}
.grid {
    width: 100%;
    height: 625px;
    display: flex;
    padding: 0 10px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
}


.grid-row {
    width: 100%;
    height: 20px;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: no-wrap;
    > * {
        width: 100%;
    }
}

