    .nav {
        width: 100%;
    }

    .array {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 400px;
        padding: 2%;
        padding-top: 0;
    }
