@import '../../variables.module.scss';
.navbar {
    background-color: white;
    border: 0 0 20px;
    border-color: $buttonNormal;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heading {
        display: block;
        font-family: 'Poppins', sans-serif;
        color: $wall;
        padding: 5px;
    }

    .items {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        max-width: 50%;
    }
}


.btn {
    border: none;
    width: 15ch;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding:  5px 0;
    background-color: $buttonNormal;
    color: $unvisitedWall;
        &.visualize{
            background-color: $unvisitedWall;
            color: white;
            &.running {
                background-color: $red;
                color: $wall;
            }
            &:hover {
                background-color: $green;
            }
        }
        &:hover {
            background-color: $unvisitedWall;
            color: $wall;
        }
        &:active {
            background-color: $green;
        }

}

.dropDown {
    outline: none;
    border-radius: 4px;
    padding:  5px 0;
    background-color: $buttonNormal;
    color: $wall;
    font-family: 'Poppins', sans-serif;
}