@import '../../variables.module.scss';
.navbar {
    background-color: $unvisitedWall;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heading {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
        font-weight: 800;
        color: white;
        padding: 1em;
    }

    .items {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        max-width: 50%;
        *{
            padding: 0.5em 0;
            border-radius: 0.5em;
        }
    }
}


.btn {
    border: none;
    width: 10em;
    transition: ease-out 0.3s;
    font-family: 'Poppins', sans-serif;
    background-color: $buttonNormal;
    color: $unvisitedWall;
        &.visualize{
            background-color: darken($unvisitedWall, 30%);
            color: $buttonNormal;
            &.running {
                background-color: $red;
                color: $wall;
                &:hover{
                    background-color: $red;
                }
            }
        }
        &:hover {
            background-color: $pathFinal;
            color:$buttonNormal;
        }
        &:active {
            background-color: $green;
        }

}

.dropDown {
    outline: none;
    border-radius: 0.5em;
    background-color: $buttonNormal;
    color: $wall;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    height: 100%;
    width: 0;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    * {
        border-radius: 0.4em;
    }
    button {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9em;
        padding: 0.5em 0.5em 0.5em 0.5em;
        transition: 0.3s;
        height: 2em;
        background-color: $buttonNormal;
        color: $unvisitedWall;
    }
    select {
        outline: none;
        border-radius: 0.5em;
        background-color: $buttonNormal;
        color: $wall;
        font-family: 'Poppins', sans-serif;
    }
}


.sidebar-icon {
    flex-grow: 1;
    display: none;
    margin-left: 70%;
    height: 1.5em;
}

@media(max-width: 1100px){
    &.btn{
        width: 9em;
    }
    &.dropDown{
        width: 9em;
    }
}

@media(max-width: 1100px){
    .btn{
        width: 8em;
    }
    .dropDown{
        width: 8em;
    }
}
@media(max-width: 950px){
    .btn{
        width: 7em;
    }
    .dropDown{
        width: 7em;
    }
}
@media(max-width: 850px){
    .btn{
        width: 6em;
    }
    .dropDown{
        width: 6em;
    }
}


@media (max-width: 700px){
    .btn {
        display: none;
        width: 0;
    }
    .dropDown {
        display: none
    }
    .sidebar-icon {
        display: block;
    }
}

 @media (max-width: 400px){
     .sidebar-icon{
         margin: 0;
     }
 }
