@import '../../variables.module.scss';
.navbar {
    background-color: $unvisitedWall;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heading {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
        font-weight: 800;
        color: white;
        padding: 1em;
    }

    .items {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        max-width: 50%;
        *{
            width: 10em;
            padding: 0.5em 0;
            border-radius: 0.5em;
        }
    }
}


.btn {
    border: none;
    transition: ease-out 0.3s;
    font-family: 'Poppins', sans-serif;
    background-color: $buttonNormal;
    color: $unvisitedWall;
        &.visualize{
            background-color: darken($unvisitedWall, 30%);
            color: $buttonNormal;
            &.running {
                background-color: $red;
                color: $wall;
                &:hover{
                    background-color: $red;
                }
            }
        }
        &:hover {
            background-color: $pathFinal;
            color:$buttonNormal;
        }
        &:active {
            background-color: $green;
        }

}

.dropDown {
    outline: none;
    border-radius: 0.5em;
    background-color: $buttonNormal;
    color: $wall;
    font-family: 'Poppins', sans-serif;
}


@media (max-width: 1100px){
    .btn {
        display: none
    }
}
