@import '../../variables.module.scss';

.legend-container {
    width:100%;
    height: 4em;
    padding-bottom: none;
    box-sizing:border-box;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-family: 'Montserrat Alternates';
    font-size: 0.9em;
    font-weight: 300;
    .legend {
        height: 3em;
        :nth-child(1){
            height:1.5em;
            width: 1.5em;
            border-radius: 5%;
        }
        .wall {
            background-color: $wall;
        }
        .visited{
            background-color: $unvisitedWall;
        }
        .path{
            background-color: $pathFinal;
        }
    }
}



